@model IEnumerable<Restaurent.Models.Designation>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-black text-center">Designation list</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary shadow  text-black">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead class="bg-warning">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesignationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesignationName)
            </td>
                <td>
                    <a class="btn btn-outline-success btn-sm shadow" asp-controller="Designations" asp-action="Edit" asp-route-id="@item.DesignationId">Edit</a>
                    <a class="btn btn-outline-danger btn-sm shadow" asp-controller="Designations" asp-action="Delete" asp-route-id="@item.DesignationId">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
