@{
    ViewData["Title"] = "Home Page";
}

<div class="card-body fixed-bottom text-center bg-info top-50 text-black rounded-bottom " width="100">
    
    <h6 class="display-1 d-block">WelCome My New Website</h6>
    
</div>
