@model Restaurent.Models.ViewModel.FoodItemVM

@{
    ViewData["Title"] = "Edit";
}



<h4 class="text-center bg-secondary">Food Item Edit </h4>

<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodName" class="control-label"></label>
                <input asp-for="FoodName" class="form-control" />
                <span asp-validation-for="FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryDate" class="control-label"></label>
                <input asp-for="EntryDate" class="form-control" type="date" />
                <span asp-validation-for="EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picturefile" class="control-label"></label>
                <input asp-for="Picturefile" class="form-control" type="file" />
                <span asp-validation-for="Picturefile" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" typeof="money" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-outline-primary shadow" />
            </div>
        </div>
    </div>
</form>
<hr/>
<div>
    <a asp-action="Index" class="btn btn-outline-info shadow">Back To list</a>
</div>

